



/* reset css */
a {
    color: inherit;
    text-decoration: none;
}

.wrap {
    background: #e9ecef;
    padding-top: 64px;
    height: 100vh;
}

section.container {
    width: 27%;
    height: 570px;
    padding: 25px;
    background:#6fdbb9;
    border-radius: 45px;
    font-size: 14px;
    margin: 0 auto;
    box-shadow: 0 0 0.7;
    box-shadow: 15px 15px 0px rgba(103, 144, 150, 0.8);
}

section.calTemplete {
    background: #ffefc4;
    border-radius: 35px;
    padding: 50px 50px;
    position: relative;
}

#show {
    display: inline-block;
    /* line-height: 2em; */
    border-radius: 10px;
    border: 1px solid rgb(175, 175, 175);
    width: 79%;
    height: 20px;
    background: #dfc9c9;
    display: flex;
    align-items: center;
    text-align: right;
    font-size: 20px;
    padding: 2px;
    position: absolute;
    top: 1%;
    margin-top: 30px;
    color: rgb(102, 101, 101);
}

section.calTemplete .buttons {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 55px;
    grid-gap: 15px;
}

section.calTemplete .buttons button {
    border-radius: 10px;
    background: #797373;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}

section.calTemplete .buttons .double {
    grid-column: 3/5; 
}

section.calTemplete .buttons .plusMinus,
section.calTemplete .buttons .mul,
section.calTemplete .buttons .minus,
section.calTemplete .buttons .divisor, 
section.calTemplete .buttons .plus,
section.calTemplete .buttons .answer {
    background: #ff8747;
    box-shadow: 3px 3px 0px rgba(253, 93, 0);

}

section.calTemplete .buttons .plusMinus:hover,
section.calTemplete .buttons .mul:hover,
section.calTemplete .buttons .minus:hover,
section.calTemplete .buttons .divisor:hover, 
section.calTemplete .buttons .plus:hover,
section.calTemplete .buttons .answer:hover {
    background: #fc7c31;
}

section.calTemplete .buttons .plusMinus:active,
section.calTemplete .buttons .mul:active,
section.calTemplete .buttons .minus:active,
section.calTemplete .buttons .divisor:active, 
section.calTemplete .buttons .plus:active,
section.calTemplete .buttons .answer:active {
    background: #fd5d00;
}

section.calTemplete .buttons .num,
section.calTemplete .buttons .dot {
    background: #797373;
    box-shadow: 3px 3px 0px rgba(90, 88, 88);
}

section.calTemplete .buttons .num:hover,
section.calTemplete .buttons .dot:hover {
    background: #666464;
}

section.calTemplete .buttons .num:active,
section.calTemplete .buttons .dot:active {
    background: #5a5858;
}

section.calTemplete .buttons .delete,
section.calTemplete .buttons .clear {
    background: #fa413a;
    box-shadow: 3px 3px 0px rgba(248, 24, 17);
}

section.calTemplete .buttons .clear:hover,
section.calTemplete .buttons .delete:hover {
    background: #f82f28;;
}

section.calTemplete .buttons .clear:active,
section.calTemplete .buttons .delete:active {
    background: #f81811;
}




#result {
    display: inline-block;
    /* line-height: 2em; */
    border-radius: 10px;
    border: 1px solid rgb(175, 175, 175);
    width: 100%;
    height: 70px;
    background: #dfc9c9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    font-size: 30px;
    margin-top: 30px;
    color: rgb(97, 96, 96);
}
